<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunflower.pantaucovid19">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.EmergencyNumberActivity"></activity>
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:label="Baca Berita"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.pantaucovid19.ui.activity.WebViewActivity" />
        </activity>
        <activity android:name=".ui.activity.RumahSakitRujukanActivity" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="Tentang Aplikasi"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sunflower.pantaucovid19.ui.activity.AboutActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.ReminderBroadcast" />
    </application>

</manifest>